// Variáveis do sass, fica mais facil declarar variaveis fixas, para não ter o trablho de memorizar algumas cores alfanumericas
$primary-color: #4b2966;
$white-color: #fff;
$black-color: #000;
$input-bg-color: #f1f1f1;
$button-radius: 50px;
$box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

// Reset básico, para poder reiniciar as proporções de margin e padding pra 0, que nem no index.css
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Estilos gerais do corpo da pagina


// Container do componente do cadastro
.container {
  display: flex;
  background-color: rgba(225, 225, 225, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: $box-shadow;
  width: 900px;
  height: 600px;
  overflow: hidden;

  // Seção do formulário
  .form-section {
    padding: 50px;
    display: flex;
    background-color: $white-color;
    width: 400px;
    border-radius: 1rem;
    flex-direction: column;
    justify-content: center;
    align-items: center; /* Centraliza os elementos no eixo horizontal */
    margin: 10px 10px 10px 10px;

    h1 {
      font-size: 24px;
      font-weight: bold;
      margin-bottom: 30px;
    }

    // Grupo de inputs
    .input-group {
      display: flex;
      margin-bottom: 20px;
      background-color: $input-bg-color;
      border-radius: $button-radius;
      padding: 15px;
      width: 100%; /* Full width for input groups */
      max-width: 400px; /* Max width to control input size */
      justify-content: center;

      input {
        border: none;
        background: none;
        outline: none;
        width: 100%;
        padding-left: 10px;
        font-size: 16px;
      }

      i {
        font-size: 20px;
        margin-right: 10px;
      }
    }

    // Botões
    button {
      justify-content: center;
      display: flex;
      align-items: center;    
      width: 250px; /* Largura fixa para os botões */
      padding: 15px;
      border-radius: $button-radius;
      border: none;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      text-align: center;

      &.entrar {
        background-color: $black-color;
        color: $white-color;
        margin-bottom: 3px;
      }

      &.google {
        background-color: $white-color;
        color: $black-color;
        border: 1px solid $black-color;
        margin: 10px 0;

        img {
          width: 20px;
          margin-left: 10px;
        }
      }
    }

    // Texto de separação, foi o jeito que achei para dá um espaço e colocar o "ou" entre os botões
    .or-text {
      text-align: center;
      margin: 10px 0;
      font-size: 14px;
      color: #000;
    }
  }

  // Seção de boas-vindas
  .welcome-section {
    color: $black-color;
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    
    padding: 50px;

    h2 {
      font-size: 30px;
      font-weight: bold;
      margin: 2rem 0 4rem 0;
    }

    img {
      width: 250px;
      margin-bottom: 20px;
      animation: flutter 6s ease-in-out infinite;
    }

    @keyframes flutter {
      0% { transform: translateY(0); }
      50% { transform: translateY(-40px);}
    }

    p {
      font-size: 18px;
      margin-top: 30px;
    }
  }

  .possuiconta {
    color: #fff;
  }
}
// falta os estilos responsivos
//FIM