//Variaveis de cores
$bg-color: #1A1A1E;

.container-projetos {
    display: flex; 
    height: 100vh; 
  
}

.content {
    border-radius: 1rem 0 0 1rem;
    flex-grow: 1; 
    padding: 20px; 
    background-color: $bg-color; 
    margin-left: 210px;
    text-align: center;

    h1{
        color: var(--blue);

        p{
            color: var(--blue);
        }
    }
}
  