/* LOGIN CSS SASS*/
// Variáveis do sass, fica mais facil declarar variaveis fixas, para não ter o trablho de memorizar algumas cores alfanumericas
$primary-color: #4b2966;
$white-color: #fff;
$black-color: #000;
$input-bg-color: #f1f1f1;
$button-radius: 50px;
$box-shadow: 0 10px 30px rgba(0, 0, 0, 0.1);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

// Estilos gerais do corpo da página
body {
  font-family: 'Arial', sans-serif;
  background-color: $primary-color;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

// Container do componente de login
.logincontainer {
  display: flex;
  background-color: rgba(225, 225, 225, 0.15);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  box-shadow: $box-shadow;
  max-width: 900px;
  width: 100%;
  overflow: hidden;

  .loginwelcome {
    background-color: #8243A9;
    color: $white-color;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;

    h2{
      font-size: 30px;
      font-weight: bold;
      margin-bottom: 20px;
    }

    img {
      width: 200px;
      margin-bottom: 20px;
      animation: flutter 6s ease-in-out infinite;
    }

    @keyframes flutter {
      0% { transform: translateY(0); }
      50% { transform: translateY(-40px);}
    }

    p {
      font-size: 18px;
      margin-top: 30px;
    }
    
    .beconectintro {
      font-size: 40px;
      padding-top: 20px;
    }

    .CuboLogoImg {
      max-width: 400px;
      max-height: 300px;
      width: auto;
      height: auto;
      padding-top: 40px;
      padding-bottom: 40px;
    }

    .linksintro {
      text-align: left;
      padding-left: 20px;
      padding-bottom: 30px;
      
      .naopossuiconta {
        color: #000000;
      }
    }
  }

  .loginforms {
    text-align: center;
    padding-right: 25px;

    .loginname {
      padding-top: 22px;
      padding-bottom: 10px;
    }

    .or-text {
      padding-bottom: 20px;
    }

    .input-group {
      display: flex;
      align-items: center;
      margin-bottom: 20px;
      background-color: $input-bg-color;
      border-radius: $button-radius;
      padding: 15px;

      input {
        border: none;
        background: none;
        outline: none;
        width: 100%;
        padding-left: 10px;
        font-size: 16px;
      }

      i {
        font-size: 20px;
        margin-right: 10px;
      }
    }

    button {
      width: 100%;
      padding: 15px;
      border-radius: $button-radius;
      border: none;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;

      &.entrar {
        background-color: $black-color;
        color: $white-color;
        margin-bottom: 15px;
      }

      &.google {
        background-color: $white-color;
        color: $black-color;
        border: 1px solid $black-color;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          width: 20px;
          margin-left: 10px;
        }
      }
    }
  }
}