.container-projetos {
    display: flex; 
    height: 100vh; 
    width: 100vw;

    .content {
        flex-grow: 1; 
        padding: 20px; 
        background-color: var(--shape); 
        margin-left: 180px;
        text-align: center;
        justify-content: center;
    
        h1{
            color: var(--blue);
    
            p{
                color: var(--blue);
            }
        }

        .content-container{
            width: auto;
            padding: 1rem;
            margin: 0;
            
        }
    }
}


  