.container-projetos {
    display: flex; 
    height: 100vh; 
    width: 100vw;
    padding-left: 220px; 
    background-color: var(--shape); 
    text-align: center;
    flex-direction: column;
    

    h1{
        color: var(--blue);
        height: fit-content;

        p{
            color: var(--blue);
        }
    }

    .content{
        width: auto;
        height: auto;
        margin: 3rem;
        padding: 3rem;
        
    }
}


  