/* Arquivo: FormStepper.module.scss */

$form-bg-color: #f8f9fa;
$form-border-color: #e0e0e0;
$button-bg-color: #00b22d;
$button-text-color: white;
$button-hover-color: #009922;

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: $form-bg-color;

  h2 {
    font-size: 24px;
    margin-bottom: 20px;
    text-align: center;
  }

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 30px;
    border: 1px solid $form-border-color;
    border-radius: 10px;
    width: 400px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    input {
      width: 100%;
      padding: 12px;
      margin-bottom: 20px;
      border: 1px solid $form-border-color;
      border-radius: 5px;
      font-size: 16px;

      &::placeholder {
        color: #9e9e9e;
      }
    }

    button {
      width: 100%;
      padding: 12px;
      background-color: $button-bg-color;
      color: $button-text-color;
      border: none;
      border-radius: 5px;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: $button-hover-color;
      }
    }
  }

  .response-summary {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    border: 1px solid $form-border-color;
    width: 400px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);

    h2 {
      font-size: 24px;
      margin-bottom: 20px;
      text-align: center;
    }

    ul {
      list-style: none;
      padding: 0;

      li {
        font-size: 16px;
        margin-bottom: 10px;
        background-color: $form-bg-color;
        padding: 10px;
        border-radius: 5px;
      }
    }
  }
}
